*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #F9FAFB;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Header{
  background-color: #FFFFFF;
  padding: 2rem 3rem;
  width: 100%;
}
.Header h3{
  font-size: 2.5rem;
  margin-bottom: 7px;
  font-weight: 700;
}
.Header p{
  font-size: 1rem;
  color: gray;
}

.cont-product{
  width: 80%;
  margin: 0 auto;
}

.grid{
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 40px;
  gap: 40px;
  margin-bottom: 40px;
  
}
.catg{
  background-color: white;
  padding: 30px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px gray;
  min-width: 300px;
  height: fit-content;
}

.catg h4{
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.catg ul li{
  list-style: none;
  padding: 8px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  
}

.catg ul li:hover{
  background-color: rgba(195, 192, 192,0.2);
  border-radius: 10px;
}


.catg ul li:last-child{
  margin-bottom: 0px;
}

.catg ul li.active{
  background-color: #155DFC;
  color: white;
  border-radius:10px;
  transition: 0.3s;
}

.products{
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;

}

.image img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 200px;
  object-fit: cover;
}

.prod-content{
  padding: 5px;
}
.prod-content h4{
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.rating{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.rating .icn{
  color: gold;
  font-size: 18px;
}

.cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart span{
  font-size: 1.1rem;
  font-weight: bold;
}
.cart .icn-cart{
  background-color:  #155DFC;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}


.Back-home{
  background-color: white;
  color: #155DFC;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 2px solid #F2F3F5;
  margin-bottom: 50px;
  position: sticky;
  top: 0px;
  
}

.por-detail{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr  1fr;
  gap: 40px;
  align-items: center;
}

.image-det{
  min-width: 300px;
  height: 350px;
  border-radius: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}

.image-det img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
 
.pro-content h3{
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.pro-content h2{
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 15px;
}

.pro-content p{
  margin-bottom: 35px;
}

.color h5{
  font-size: 1.1rem;
  font-weight: 650;
  margin-bottom: 15px;
}

.color-st{
  display: flex;
  align-items: center;
  gap: 10px;
}
.size-st{
  display: flex;
  align-items: center;
  gap: 10px;
}
.color-st span{
  border: 2px solid darkgray;
  padding: 5px 20px;
  border-radius: 50px;
  margin-bottom: 35px;
}
.size-st span{
  border: 2px solid darkgray;
  padding: 5px 20px;
  border-radius: 50px;
  margin-bottom: 35px;
}

.color-st span:hover{
  border-color: gray;
}
.color-st span .active{
  background-color: #EFF6FF;
  border: 2px solid #155DFC;
  /* transition: all ease 0.3s; */
}

.quantity h5{
  font-size: 1.1rem;
  font-weight: 650;
  margin-bottom: 15px;
}

.quantity-count{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}

.count-btn{
  padding: 3px 10px;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 5px;
  border: 2px solid darkgray;
  font-weight: 400;
}

.count{
  font-size: 1.5rem;
  font-weight: 600;
}

.add-cart{
  width: 100%;
  padding: 15px 0px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  background-color: #155DFC;
  color: white;
  margin-bottom: 30px;
  font-weight: 600;
}

.last{
  border-top: 2px solid #F2F3F5;
  padding-top: 20px;
  margin-bottom: 50px;
}

.last p{
  margin: 0px;
  padding: 0px;
  line-height: 30px;
  color: rgb(95, 95, 95);
}

@media (max-width: 992px){
  .cont-product{
    width: 90%;
    margin: 0 auto;
  }
  .grid{
    grid-template-columns: 1fr;
  }
  .por-detail{
    grid-template-columns: 1fr;
    width: 93%;
  }
}